.header{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    text-align: center;
    /* background-color: #61dafb; */
}


.menu{
    background-color: #DBE0D5;
    height: 3.5rem;
}

.menu-item{
    padding-left: 20px;
    display: inline-block;
    color: #2C2D2A;
    font-size: 15px;
    font-size: bold;
    font-weight: 650;
    line-height: 3.5rem;
    width: 10%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/* .menu-item:hover{
    background-color: #cdfff3;
} */

.menu-item:active,
.menu-item.active{
    background-color: #9cd7ee;
}


.btn_inputcoin{
    background-color: #ffffff;
    border: 0;
    outline: 0;
    margin-right: 20px;
}

.btn_inputstock{
    background-color: #ffffff;
    border: 0;
    outline: 0;
    margin-right: 20px;
}