.Table_trade{
    width: 600px;
    /* display: flex; */
    padding-top: 80px;
    padding-left: 40px;
    /* font-size: 50px; */
}


.Table_buying{
    width: 100px;
    /* margin-right: 30px; */
    font-size: 20px;
}


.Table_selling{
    width: 100px;
    /* margin-right: 30px; */
    font-size: 20px;
}

.Table_bill{
    width: 100px;
    /* margin-right: 30px; */
    font-size: 20px;
}

.sell_price{
    padding-top:20px;
    padding-right: 40px;
    padding-bottom: 10px;
}

.input_sell{
    margin-left: 30px;
}

.input_quantity{
    margin-left: 70px;
    margin-bottom: 10px;
    /* margin-right: 10px; */
}

.input_sum{
    margin-left: 25px;
}

.check_left{
    margin-right: 50px;
}

.clear_btn{
    width: 150px;
    height: 50px;
    margin-left: 20px;
}

.sell_btn{
    width: 150px;
    height: 50px;
    /* display: block; */
    margin-left: 20px;
    background-color: red;
    color: aliceblue;
}

.buying_btn{
    width: 150px;
    height: 50px;
    /* display: block; */
    margin-left: 20px;
    background-color: red;
    color: aliceblue;
}

.clearbuying_btn{
    margin-top: 30px;
}

.clearsell_btn{
    margin-top: 30px;
}