.btn_oneminite{
    background-color: #ffffff;
    border: 0;
    outline: 0;
}

.btn_thirtyminite{
    background-color: #ffffff;
    border: 0;
    outline: 0;
}

.btn_onehour{
    background-color: #ffffff;
    border: 0;
    outline: 0;
}

.btn_fourhour{
    background-color: #ffffff;
    border: 0;
    outline: 0;
}